<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Spring Security Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div class="container-fluid m-auto bg-dark row justify-content-between p-2">
        <h5 class="text-light" th:text="${user.name}+' whith roles: '" th:each="role: ${user.roles}"> <i  th:text=" ' '+${role.name}"></i></h5>
        <a href="#" th:href="@{/logout}" class=" text-secondary">logout</a>
    </div>
    <div class="row pt-5">
        <div class="col-2" th:each="role: ${user.roles}">
            <form th:action="@{/user}" method="get" >
                <input type="submit" class="btn btn-primary form-control text-left text-light mb-1" value="User" >
            </form>
            <div th:if="${role.name}=='ROLE_ADMIN'">
                <a type="submit" class="btn btn-link form-control text-left mb-1" th:href="@{/admin}" th:text="Admin"></a>
            </div>
        </div>
        <div class="col-8 bg-light w-100 h-100" id="user_page">
            <h2>User info-page</h2>
            <div id="tabs" class="row"></div>
            <div class="border p-2">
                About user
            </div>
            <div class="border bg-white p-2">
                <table class="w-100">
                    <hr>
                    <tr>
                        <td class=" p-2 font-weight-bold">ID</td>
                        <td class=" p-2 font-weight-bold">First name</td>
                        <td class=" p-2 font-weight-bold">Last name</td>
                        <td class=" p-2 font-weight-bold">Age</td>
                        <td class=" p-2 font-weight-bold">Role</td>
                    </tr>
                    <tr>
                        <td class="bg-light border-top p-2 " th:text="${user.id}"></td>
                        <td class="bg-light border-top p-2" th:text="${user.name}"></td>
                        <td class="bg-light border-top p-2" th:text="${user.lastName}"></td>
                        <td class="bg-light border-top p-2" th:text="${user.age}"></td>
                        <td class="bg-light border-top p-2" th:text="${user.roles}"></td>
                    </tr>
                </table>


            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>